.fl { float: left; }
.fr { float: right; }
.cl { clear: left; }
.cr { clear: right; }
.cb { clear: both; }
.tc { text-align: center; }
.tl { text-align: left; }
.tr { text-align: right; }
.justified { text-align: justify; }
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }
.invisible { position: absolute; visibility:hidden; }
.invisible.visible { visibility: visible; }
.no-underline a, a.no-underline { text-decoration: none; }
a.plain { text-decoration: none; color:inherit; }
.no-js .js-content,
.js .js-content:not(.invisible) {
	display: none;
}
.modal > .js-content:not(.invisible) {
	display: block;
}

a.image-link { display: block; }

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.screen-reader-text {
	clip:  rect(1px, 1px, 1px, 1px);
	height:  1px;
	overflow:  hidden;
	position:  absolute !important;
	width:  1px;
}

button.bg-icon-button,
button.icon-button,
button.plain,
.clean-button {
	background-color: transparent;
	outline-style: none;
	border: none;
	padding: 0;
	color: inherit;
	line-height:  inherit;
	border-radius:  0;
	text-transform:  inherit;
	font-size:  inherit;
	text-shadow: none;
	box-shadow: none !important;
}

.no-text {
	text-indent: 110%;
	overflow: hidden;
	white-space: nowrap;
}

.ellipsis: not(html) {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fade {
	visibility: hidden;
	opacity: 0;
	transition-property: opacity, visibility;
	transition-timing-function: linear;
	transition-duration: 0.3s, 0s;
	transition-delay: 0s, 0.3s;
}
.fade.visible {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s, 0s;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.absolute-center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.background,
.foreground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background { z-index: -1; }
.foreground { z-index: 2; }
.background > img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
.background.page-background {
	position: fixed;
}

.horizontal-list {
  margin:  0;
  padding:  0;
  border-width:  0;
}
.horizontal-list,
.horizontal-list li {
  list-style-type:  none;
  list-style-image:  none;
}
.horizontal-list li {
	display: inline-block;
}
.horizontal-list.floats {
  overflow:  hidden;
}
.horizontal-list.floats li {
	float: left;
}

.columns {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.columns > .col {
	margin: 0 1em;
}

.svg-button svg,
.svg-image {
	max-height: 100%;
	max-width: 100%;
	pointer-events: none;
}
svg .stroke { transition: stroke 0.2s linear; }
svg .fill { transition: fill 0.2s linear; }
svg .stroke.fill { transition: stroke 0.2s linear, fill 0.2s linear; }

@media (min-width: 540px) {
	.grid--3 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.grid--3 > .grid__item {
		max-width: 50%;
		flex: 1 0 auto;
	}
}
@media (min-width: 768px) {
	.grid--3 > .grid__item {
		max-width: 33.33%;
	}
}
